<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Le Bon Plan</title>
</head>
<body>
    <nav class="navbar">
        <div class="test">
            <li><a href="/Paris">Paris</a></li>
            <li><a href="/Marseille">Marseille</a></li>
            <li><a href="/Lyon">Lyon</a></li>
        </div>
        <div>
            <li class="li-link">{{#if isLoggedIn }}
                <p class="username">{{username}}</p>
                <a href="/admin">Admin</a>
                {{else}}
                <a href="/signup">S'inscrire</a></li>
                {{/if}}
            <li>
                {{#if isLoggedIn }}
                <a href="/logout">Se Déconnecter</a>
                {{else}}
                <a href="/login">Se Connecter</a>
                {{/if}}
            </li>
        </div>
    </nav>
    {{{body}}}
</body>
</html>