<h1>Poster une annonce</h1>
<form action="/admin" method="POST" >
    <label for="title">Titre de l'annonce</label>
    <input type="text" name="title" id="title">
    <label for="description">Description</label>
    <input type="description" name="description" id="description">
    <label for="image">Deposez des photos du produits</label>
    <input type="file">
    <input type="submit" style="margin: 15px 0px;" value="Poster l'annonce">
</form>