<h1>Welcome</h1>
<h2>This is my portfolio website</h2>

{{#if isLoggedIn}}
    <p>You are connected</p>
{{else}}
    <p>You are disconnected</p>
{{/if}}

<a href="/contact">Contact us</a>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officiis ea maiores odit est. Distinctio nemo eius eos saepe quia laborum error cum commodi maiores id dignissimos consequatur provident, vel libero doloribus dolorem modi? Voluptas, eos? Nobis quia reprehenderit esse quae dolores aliquid exercitationem est ratione incidunt, officia quaerat quam delectus totam ea ipsa unde, dolore, vitae architecto eaque repellendus ipsum? Veritatis molestias exercitationem iure laudantium ex provident nisi quis nulla sequi similique voluptates corrupti facilis doloremque nemo in repudiandae modi quaerat assumenda eos excepturi reprehenderit quae, dolorum maiores quasi! Debitis beatae expedita tenetur, officia rem at magnam consequuntur omnis!</p>
</div>